<link rel="stylesheet" href="{{ 'yamato-banner.css' | asset_url }}" type="text/css">

<div class="banner-one page-width yamato-commitment fade">
  <div class="banner-wrapper banner-sp">
    <a href="{{ routes.root_url }}pages/lp" target="_blank">
      <img src="{{ 'banner-one-sp.jpg' | asset_url }}" alt="さまざまな野菜が載ったバナー" width="640" height="200" loading="lazy">
    </a>
  </div>

  <div class="banner-wrapper banner-pc">
    <a href="{{ routes.root_url }}pages/lp" target="_blank">
      <img src="{{ 'banner-one-pc.jpg' | asset_url }}" alt="さまざまな野菜が載ったバナー" width="375" height="46" loading="lazy">
    </a>
  </div>
</div>