<link rel="stylesheet" href="{{ 'yamato-lp.css' | asset_url }}" type="text/css">

<div class="lp">
  <div class="inner">
    <section>
      <img src="{{ 'yamanomiyako_teiki_lp_01.jpg' | asset_url }}" alt="" width="1000" height="1200" loading="lazy">
    </section>
    <section>
      <img src="{{ 'yamanomiyako_teiki_lp_02.jpg' | asset_url }}" alt="" width="1000" height="607" loading="lazy">
    </section>
<!--     <section>
      <img src="{{ 'yamanomiyako_teiki_lp_03.jpg' | asset_url }}" alt="" width="1000" height="729" loading="lazy">
    </section> -->
    <section>
      <img src="{{ 'yamanomiyako_teiki_lp_04.jpg' | asset_url }}" alt="" width="1000" height="943" loading="lazy">
    </section>
    <section>
      <img src="{{ 'yamanomiyako_teiki_lp_05.jpg' | asset_url }}" alt="" width="1000" height="734" loading="lazy">
    </section>

    <section class="feature padding">
      <div class="wrapper">
        <div class="padding">
          <h2 class="feature-title yu-mincho">
            <span class="feature-title-number">01</span>
            <span class="feature-title-text">豊かな土壌</span>
          </h2>
          <p class="feature-text yu-mincho">
            山都町は赤土や黒土、火山灰土など地域により様々な土質があり、<br>
            山々に住まう微生物や落ち葉などが作り出す腐葉土が<br>
            畑とまざりあい、地域に栄養豊富な土が生まれています。<br>
            豊かな土壌が美味しい野菜を育てます。
          </p>
        </div>
        <div class="feature-img">
          <img src="{{ 'tokutyou01.png' | asset_url }}" alt="" width="920" height="631" loading="lazy">
        </div>
      </div>
      <div class="wrapper">
        <div class="padding">
          <h2 class="feature-title yu-mincho">
            <span class="feature-title-number">02</span>
            <span class="feature-title-text">ミネラル豊富な水</span>
          </h2>
          <p class="feature-text yu-mincho">
            熊本県山都町は九州のへそ、阿蘇の外輪にあります。<br>
            山々から出る湧水に恵まれた土地です。<br>
            源流から川に流れ込み、滝があちこちに生まれ、<br>
            地域の田畑に天然のミネラル水が染み渡っています。
          </p>
        </div>
        <div class="feature-img">
          <img src="{{ 'tokutyou02.png' | asset_url }}" alt="" width="920" height="631" loading="lazy">
        </div>
      </div>
      <div class="wrapper">
        <div class="padding">
          <h2 class="feature-title yu-mincho">
            <span class="feature-title-number">03</span>
            <span class="feature-title-text">オーガニック</span>
          </h2>
          <p class="feature-text yu-mincho">
            有機農業全国NO.1のまち<br>
            山都町は有機JAS認証事業者数日本一を誇り、<br>
            年間オーガニック野菜の種類やお米がとても充実しています。<br>
            地域の資源である草木、竹チップ、米ぬかなどを使い、<br>
            有機栽培を行っています。<br>
            50年以上有機農業の歴史を持つ山都町は、<br>
            学校給食にも有機米や有機野菜がたくさん使用されています。<br>
            くまモンと通潤橋のオリジナルJASシールにもご注目!
          </p>
        </div>
        <div class="feature-img">
          <img src="{{ 'tokutyou03.png' | asset_url }}" alt="" width="920" height="631" loading="lazy">
        </div>
      </div>
      <div class="wrapper">
        <div class="padding">
          <h2 class="feature-title yu-mincho">
            <span class="feature-title-number">04</span>
            <span class="feature-title-text">
              <span class="small">
                美味しいだけじゃなく
              </span>
              カラダにも嬉しい
            </span>
          </h2>
          <p class="feature-text yu-mincho">
            土壌・水・気候に恵まれた山都町で栽培した<br>
            オーガニック野菜は、抗酸化力にとても優れています。<br>
            山都町の自然とエネルギーと生産者の愛情を<br>
            たっぷり受けて育った野菜を食べて、ココロもカラダも元気に！
          </p>
        </div>
        <div class="feature-img">
          <img src="{{ 'tokutyou04.png' | asset_url }}" alt="" width="920" height="880" loading="lazy">
        </div>
        <div class="padding">
          <p class="feature-annotation yu-mincho">
            ※（株）メディカル青果物研究所出典 2021〜2022年調べ
          </p>
          <p class="feature-annotation yu-mincho">
            ※DB平均値は、デリカフーズグループ保有のデータベース
          </p>
          <p class="feature-annotation yu-mincho">
            ※平均値算出に用いた数：221検体（ピーマン/2005〜2020年/10〜11月）
          </p>
          <p class="feature-annotation yu-mincho">
            ※平均値算出に用いた数：8検体（じゃがいも/2015〜2021年/通年）
          </p>
          <p class="feature-annotation yu-mincho">
            ※平均値算出に用いた数：8検体（人参/2005〜2021年/12〜1月）
          </p>
          <p class="feature-annotation yu-mincho">
            ※平均値算出に用いた数：34検体（かぶ/2008〜2019年/12〜1月）
          </p>
        </div>
      </div>
    </section>

    <section class="review padding">
      <div class="cc">
        <img src="{{ 'newlpvegetable.png' | asset_url }}" alt="" width="1000" height="130" loading="lazy">
        <img src="{{ 'newteikivoice022.png' | asset_url }}" alt="">
<!--         <img src="{{ 'campaneg.png' | asset_url }}" alt="" style="margin-top: -19%;" class="campaneg"> -->
        <img src="{{ '070301.png' | asset_url }}" style="margin: -18% 0 0 0">
        <img src="{{ 'newTeiki.png' | asset_url }}" style="margin: 2% 0;">
        <img src="{{ 'organic02.png' | asset_url }}" alt="" style="margin: 1% 0;">
        <img src="{{ 'newCool002.png' | asset_url }}" alt="" style="margin: 2% 0;">
        <img src="{{ 'newtake.png' | asset_url }}" alt="" style="margin: 2% 0;">
        <img src="{{ 'newCalendar.png' | asset_url }}" alt=""> 
    </div>
    </section>

    <section class="banner">
      <img src="{{ 'teiki_title20.png' | asset_url }}" alt="" width="1000" height="130" loading="lazy">
    </section>

    <section class="note padding">
      <h2 class="qqh2">よくある質問</h2>
        <div class="qqdiv">
            <p class="qqp01"><span>Q:</span>どのような決済方法がありますか？</p>
            <p class="qqp02">A: 定期便につきましてクレジットカード決済のみご利用いただけます。</p>
            <p class="qqp01"><span>Q:</span>しばらく発送をお休みしたいのですが可能ですか？</p>
            <p class="qqp02">A: 会員情報を残したまま休止することが可能です。
                休止・もしくは再開の際は発送予定日の7日前までにメールかお電話にてお申し付けください。</p>
            <p class="qqp01"><span>Q:</span>定期便を1回キャンセルしたい場合はどうしたらいいですか？</p>
            <p class="qqp02">A: 発送予定日の7日前までにメールかお電話にてお申し付けください。</p>
            <p class="qqp01"><span>Q:</span>定期購入に最低利用回数などは設定されていますか？</p>
            <p class="qqp02">A: 定期購入はいつでも解約できます。解約における違約金なども一切ございません。
                次回発送予定日の7日前までにメールまたはお電話にてお申し付けください。</p>
            <p class="qqp01"><span>Q:</span>お届け周期の変更はどこからできますか？</p>
            <p class="qqp02">A: 購入履歴確認の他、次回ご注文のスキップや配送先変更、クレジットカードの更新などができます。
                ご注文内容の変更に関しまして次回出荷予定日の4日前までにお願いいたします。</p>
            <p class="qqp01"><span>Q:</span>会員マイページはどのようなことができますか？</p>
            <p class="qqp02">A: 購入履歴確認の他、次回ご注文のスキップや配送先変更、クレジットカードの更新などができます。
                ご注文内容の変更に関しまして次回出荷予定日の4日前までに変更をお願いいたします。</p>
            <p class="qqp01"><span>Q:</span>マイページの登録はどこから行ったらよいですか？</p>
            <p class="qqp02">A: 当店HPトップページの右上にあるメニューよりご登録頂けます。詳しくはこちらよりご確認ください。→<a href="https://yamanomiyakono-yaoyasan.shop/pages/mypage">☛</a></p>
            <p class="qqp01"><span>Q:</span>お試しに一回購入してみたいのですがもし合わなかった時は初回だけで解約できますか？</p>
            <p class="qqp02">A: 回数縛りなどはございませんのでいつでも解約はできます。
                その際はメールかお電話にて次回発送予定日の7日前までに当店までにご連絡お願いいたします。</p>
            <p class="qqp01"><span>Q:</span>商品代金の他に送料はかかりますか？</p>
            <p class="qqp02">A: 商品代金以外に送料別途発生いたします。
                詳しい送料についてはこちらをご確認ください。→<a href="https://yamanomiyakono-yaoyasan.shop/#guide">☛</a></p>
        </div>
    </section>
  </div>

  <section class="buy-btn">
    <a href="https://yamanomiyakono-yaoyasan.shop/cart/add?id=43455812665501&quantity=1&selling_plan=1582956701&return_to=/cart" target="_blank">
      <img src="{{ 'lp-btn1.png' | asset_url }}" alt="隔週定期購入ボタン" width="400" height="90" loading="lazy">
    </a>
    <a href="https://yamanomiyakono-yaoyasan.shop/cart/add?id=43455812665501&quantity=1&selling_plan=1582989469" target="_blank">
      <img src="{{ 'lp-btn2.png' | asset_url }}" alt="毎週定期購入ボタン" width="400" height="90" loading="lazy">
    </a>
  </section>
</div>
