<link rel="stylesheet" href="{{ 'yamato-introduction.css' | asset_url }}" type="text/css">

<div class="page-width yamato-commitment">
  <h2 class="heading fade">
    <span class="heading-label">産地紹介</span>
    <small>〜熊本県山都町とは？〜</small>
  </h2>

  <div class="introduction-content fade">
    <div class="introduction-img">
        <img class="hover" src="{{ 'top-introduction1.png' | asset_url }}" alt="高天原の伝説を残す幣立神宮" width="347" height="210" loading="lazy">
    </div>

    <div class="introduction-text">
      <h2 class="introduction-text-title">
        <small>「九州のへそ」にある熊本県山都町。</small>
      </h2>

      <p class="introduction-text-text">
        高天原の伝説を残す幣立神宮。<br>
        脈々と受け継がれている自然が今も残る土地。<br>
        阿蘇の南外輪山と九州山地に挟まれた、連なる丘陵と深い渓谷が織り成す、豊かな自然に囲まれた中山間地。<br>
        赤土、黒土、火山灰土などミネラルを含んだ恵まれた土壌で、多くの田畑の豊かさを生み出してくれる。
        </p>
    </div>
  </div>

  <div class="introduction-content fade">
    <div class="introduction-img">
        <img class="hover" src="{{ 'top-introduction2.png' | asset_url }}" alt="熊本県の通潤橋" width="345" height="240" loading="lazy">
    </div>

    <div class="introduction-text">
      <h2 class="introduction-text-title">
        <small>豊富な「水」、美しい「水」</small>
      </h2>

      <p class="introduction-text-text">
        分水嶺に降る雨は東は五ヶ瀬川から太平洋。<br>
        西は緑川からインド洋へ流れる。<br>
        山々からの湧水が至るところにあり、緑川や御船川の源流となる。人が生きるために必要な水は先代の知恵と技術によって、通潤橋や円形分水を作り、水を地域に送り、人々の生活を潤してきた。
      </p>
    </div>
  </div>

  <div class="introduction-content fade">
    <div class="introduction-img">
        <img class="hover" src="{{ 'top-introduction3.png' | asset_url }}" alt="山都町の有機農業" width="345" height="228" loading="lazy">
    </div>

    <div class="introduction-text">
      <h2 class="introduction-text-title">
        <small>次世代に継承される「有機農業」</small>
      </h2>

      <p class="introduction-text-text">
        「自然の土・水」と「人々の文化・歴史」<br>
        人々は、今も昔も変わらず自然の恩恵を受けて生きている。<br>

        50年以上前から始まった山都町の有機農業は<br>
        自然と共に生き、歴史を紡ぎ<br>
        先人の技術と想いをのせて、次世代に継承されている。
      </p>
    </div>
  </div>

  <div class="introduction-content fade">
    <div class="introduction-img large-img">
        <img class="hover" src="{{ 'top-introduction4.png' | asset_url }}" alt="男性が笑顔で野菜を抱えている" width="345" height="493" loading="lazy">
    </div>

    <div class="introduction-text">
      <h2 class="introduction-text-title">
        <small>
          山都町のエネルギーたっぷりの<br>
          オーガニック野菜
        </small>
      </h2>

      <p class="introduction-text-text">
        「山の都のやおやさん」は<br>
        大地の土のエネルギー、水をたっぷり受け取った<br>
        オーガニックの野菜たちを中心に素材の美味しさと<br>
        生産者の優しさと野菜の持つ力強さを<br>
        たっぷり詰め込んでお届けする「山都のお野菜たち」<br>
        山都の自然の織り成す四季を感じながら、食卓に幸せをお届けします。
      </p>
    </div>
  </div>

  <div class="introduction-btn fade">
    <div class="introduction-btn-wrapper">
      <a href="{{ routes.root_url }}pages/commitment" class="introduction-btn-link link-btn">
        <span>山都町をもっと詳しく知る →</span>
      </a>
    </div>
  </div>
</div>