<header class="collection-header">
  {%- assign hero_img = 'commitment_hero_2x.jpg' | asset_url -%}
  <!-- {{ hero_img }} -->
  <div class="collection-hero">
    <div class="collection-hero__image" style="background-image: url({{ hero_img }});"></div>
    <div class="collection-hero__title-wrapper">
      <h1 class="collection-hero__title">
          <span class="visually-hidden">山の都のやおやさんのこだわり: </span>
          山の都のやおやさんの<br class="__sp">こだわり
          <small>YAMANOMIYAKONOYAOYASAN</small>
      </h1>
    </div>
  </div>
</header>

<div class="page-width">
  {% include 'topic-path' %}
</div>

<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="rte">
        <div class="commitment-block __1st">
          <div class="commitment-block__content">
            <div class="commitment-block__column">
              <div class="commitment-block__header">
                <h2 class="commitment-block__title">
                  <span class="__header">01</span>
                  <span class="__label">産地のこだわり</span>
                  <span class="__lead">～熊本県山都町とは？～</span>
                </h2>
                <div class="__header-icon">{% render 'stamp-yamato' %}</div>
              </div>
              <p>熊本県山都町は、九州の真ん中「九州のへそ」に位置し、西日本最大級のブナ原生林を有する九州脊梁山地に囲まれています。<br>
                標高300ｍ～900ｍの冷涼な気候と寒暖差、そして山々からの清らかな水と、阿蘇山の火山灰を含んだミネラル豊富な土壌が、おいしい野菜を育てます。<br>
                山都町の農産物には、土づくりや栽培、お手入れ、収穫まで、生産者の愛情が注ぎ込まれています。<br>
                四季折々の自然に感謝し、<br>
                「もっとおいしいものを届けたい。」<br>
                「みんなが元気になる野菜を食べてもらいたい。」<br>
                そんな気持ちで育てています。</p>
              <div class="__figure __sp"><img src="https://cdn.shopify.com/s/files/1/0554/3385/5133/files/commitment_01_03_2x_69b367c3-10f5-40b4-a179-dfc67a163c0d.png?v=1617063095" alt=""></div>
              <div class="__figure"><img src="https://cdn.shopify.com/s/files/1/0554/3385/5133/files/commitment_01_02_2x_5f01c853-6435-4e06-bcca-5e12c8b165a2.jpg?v=1617063095" alt=""></div>
            </div>
            <div class="commitment-block__column">
              <div class="__figure __pc"><img src="https://cdn.shopify.com/s/files/1/0554/3385/5133/files/commitment_01_03_2x_69b367c3-10f5-40b4-a179-dfc67a163c0d.png?v=1617063095" alt=""></div>
            </div>
          </div>
        </div><!-- /.commitment-block -->

        <div class="commitment-block __2nd __reverse">
          <div class="commitment-block__content">
            <div class="commitment-block__column">
              <div class="commitment-block__header">
                <h2 class="commitment-block__title">
                  <span class="__header">02</span>
                  <span class="__label">有機農業のこだわり</span>
                  <span class="__lead">～オーガニック野菜とは？～</span>
                </h2>
                <div class="__header-icon">{% render 'stamp-yamato' %}</div>
              </div>
              <p>有機（オーガニック）農業とは、化学肥料・化学合成農薬に頼らず、土の本来持つ力を活かし、そこで生きる生き物と共生しつつ、自然との調和を大切にしながら行う環境にやさしい農法のことです。<br>
                　3年以上にわたる化学肥料と化学農薬の不使用、畑の条件や栽培記録などの厳しい審査を経て、第三者機関が証明する「有機JAS」を取得できます。<br>
                そして、その畑で作られた野菜に「有機JAS」を表示することができます。<br>
                人にも環境にもやさしい農法で作った山都町の有機（オーガニック）野菜は、皮も葉もまるごとおいしく食べることができます。</p>
              <div class="__figure __sp"><img src="https://cdn.shopify.com/s/files/1/0554/3385/5133/files/commitment_02_03_2x_ed79c4db-8c01-4d5d-9c3e-b688af32a3ce.jpg?v=1617063096" alt=""></div>
              <div class="__figure"><img src="{{ 'commitment_02_02_2x.jpg' | asset_url }}" alt=""></div>
            </div>
            <div class="commitment-block__column">
              <div class="__figure __fill __pc"><img src="https://cdn.shopify.com/s/files/1/0554/3385/5133/files/commitment_02_03_2x_ed79c4db-8c01-4d5d-9c3e-b688af32a3ce.jpg?v=1617063096" alt=""></div>
            </div>
          </div>

          <div class="commitment-block__content">
            <div class="commitment-block__column">
              <div class="__figure __fill __pc"><img src="https://cdn.shopify.com/s/files/1/0554/3385/5133/files/commitment_02_04_2x_a08a09cd-9c10-428c-9ef4-9d5e2a06435d.jpg?v=1617063096" alt=""></div>
            </div>
            <div class="commitment-block__column">
              <p>山都町の有機農業の歴史は昭和40年代から始まります。<br>
                今や有機JAS認証事業者数は全国最多を誇る、「有機農業全国No.1のまち」です。<br>町内の小中学校では平成16年から有機野菜を使った給食が提供され、令和3年からは有機米の提供も始まりました。ここ山都町では、有機農業は特別ではなく当たり前の農業として親しまれています。</p>
              <div class="__figure __sp"><img src="https://cdn.shopify.com/s/files/1/0554/3385/5133/files/commitment_02_04_2x_a08a09cd-9c10-428c-9ef4-9d5e2a06435d.jpg?v=1617063096" alt=""></div>
              <div class="__figure"><img src="https://cdn.shopify.com/s/files/1/0554/3385/5133/files/commitment_02_05_2x_946a5716-76f6-4825-9db2-6efc8195e05b.jpg?v=1617063095" alt=""></div>
            </div>
          </div>

          <div class="commitment-block__button">
            <a href="{{ 'about_organic_agriculture.pdf' | asset_url }}" class="btn" target="_blank" rel="noreferrer noopener" aria-label="有機農業ってどんな農業？熊本県山都町パンフレット">有機農業ってどんな農業？熊本県山都町パンフレット</a>
          </div>
        </div><!-- /.commitment-block -->

        <div class="commitment-block __3rd">
          <div class="commitment-block__content">
            <div class="commitment-block__column">
              <div class="commitment-block__header">
                <h2 class="commitment-block__title">
                  <span class="__header">03</span>
                  <span class="__label">旬のこだわり</span>
                  <span class="__lead">～野菜の旬とは？～</span>
                </h2>
                <div class="__header-icon">{% render 'stamp-yamato' %}</div>
              </div>
              <p>旬とは、その食材が一年で最もおいしく、栄養価が高くなる時期のことです。旬の野菜は、人間がその季節に必要としている栄養素をたっぷりと含んでいます。<br>
                例えば、春の山菜は新陳代謝を活発にし、体の中をデトックスしてくれます。<br>
                夏のきゅうりやトマトは、水分を多く含み、暑くほてった身体を冷やします。<br>
                秋のかぼちゃは、ビタミンやミネラルが豊富に含まれ、免疫力を高めます。<br>
                冬のにんじんやだいこんは、寒さで冷えた体を温めてくれます。<br>
                このように、旬の野菜には多くの役割があります。<br>
              「山の都のやおやさん」では、自然の恵みや四季の変化とともに旬の野菜をお届けします。</p>
              <div class="__figure __sp"><img src="https://cdn.shopify.com/s/files/1/0554/3385/5133/files/commitment_03_03_2x_3d385c3c-1315-4be7-bc4f-92af47fc0221.jpg?v=1617063096" alt=""></div>
              <div class="__figure"><img src="{{ 'commitment_03_image_01.jpg' | asset_url }}" alt=""></div>
            </div>
            <div class="commitment-block__column">
              <div class="__figure __fill __pc"><img src="https://cdn.shopify.com/s/files/1/0554/3385/5133/files/commitment_03_03_2x_3d385c3c-1315-4be7-bc4f-92af47fc0221.jpg?v=1617063096" alt=""></div>
            </div>
          </div>
        </div><!-- /.commitment-block -->

        <div class="commitment-calender">
          <div class="commitment-calender__content">
            <img src="https://cdn.shopify.com/s/files/1/0554/3385/5133/files/commitment_calender_01_2x_2ee9f8fc-77ae-46df-886f-479e653ea65c.png?v=1617067784" class="__pc" alt="">
            <img src="https://cdn.shopify.com/s/files/1/0554/3385/5133/files/commitment_calender_02_2x_55dc6e09-eebe-4486-8059-90cd309b6c31.png?v=1617064596" class="__sp" alt=""></div>
        </div>

        <div class="commitment-block __4th __reverse">
          <div class="commitment-block__content">
            <div class="commitment-block__column">
              <div class="commitment-block__header">
                <h2 class="commitment-block__title">
                  <span class="__header">04</span>
                  <span class="__label">環境のこだわり</span>
                  <span class="__lead">～人と環境にやさしい農業の町～</span>
                </h2>
                <div class="__header-icon">{% render 'stamp-yamato' %}</div>
              </div>
              <p>山都町は県内の自治体で初めて「くまもとグリーン農業推進宣言」を行った町です。「くまもとグリーン農業推進宣言」とは、熊本の宝である「地下水」と「土」を農業によって守り育てていくため、土づくりを基本に化学肥料や化学合成農業の使用を減らした、環境にやさしい農業を推進して行くことの宣言のことです。さらなる推進のため、生産宣言と応援宣言数を令和2年（2020年）までに2020件にする目標を掲げそれを達成し、令和3年には「くまもとグリーン農業表彰」を受賞しました。<br>さらに、山都町は令和3年に自治体によるSDGsの達成に向けた優れた取組を行う都市として「2021SDGs未来都市」に選定され、併せて先導的な取組として「自治体SDGsモデル事業」（全国10都市）に選定されました。</p>
              <div class="__figure __sp"><img src="https://cdn.shopify.com/s/files/1/0554/3385/5133/files/commitment_04_03_2x_d3a0b33b-d6cc-43e5-bbd6-c478a7a71414.jpg?v=1617063096" alt=""></div>
              <div class="__figure"><img src="{{ 'commitment_04_image_add.png' | asset_url }}" alt=""></div>
              <div class="__figure"><img src="https://cdn.shopify.com/s/files/1/0554/3385/5133/files/commitment_04_02_2x_d8288b8a-2f6e-456c-8c4c-603396b8b8c4.jpg?v=1617063096" alt=""></div>
            </div>
            <div class="commitment-block__column">
              <div class="__figure __fill __pc"><img src="https://cdn.shopify.com/s/files/1/0554/3385/5133/files/commitment_04_03_2x_d3a0b33b-d6cc-43e5-bbd6-c478a7a71414.jpg?v=1617063096" alt=""></div>
            </div>
          </div>
        </div><!-- /.commitment-block -->

        <div class="yamato-common-section">
          <div class="section-header text-center">
            <h2 class="heading-b01" id="overview">
              <span class="heading-icon">{% render 'icon-heading-overview' %}</span>
              <span class="heading-label">事業社紹介</span>
              <small>BUSINESS INTRODUCTION</small>
            </h2>
          </div>

          <div class="overview-block">
            <div class="overview-block__content">
              <div class="overview-block__column">
                <div class="__figure __sp"><img src="https://cdn.shopify.com/s/files/1/0554/3385/5133/files/commitment_05_01_2x_0a921c6e-417a-402a-8630-6810cababea0.jpg?v=1617063096" alt=""></div>
                <div class="overview-info">
                  <dl>
                    <dt>社 名</dt>
                    <dd>株式会社　肥後やまと</dd>
                  </dl>
                  <dl>
                    <dt>設 立</dt>
                    <dd>平成28年4月1日</dd>
                  </dl>
                  <dl>
                    <dt>所在地</dt>
                    <dd>〒861-3784　熊本県上益城郡山都町川野362</dd>
                  </dl>
                  <dl>
                    <dt>代表取締役</dt>
                    <dd>原田幸二</dd>
                  </dl>
                  <dl>
                    <dt>電 話</dt>
                    <dd><a href="tel:0967720565">0967-72-0565</a></dd>
                  </dl>
                  <dl>
                    <dt>FAX</dt>
                    <dd>0967-72-0566</dd>
                  </dl>
                  <dl>
                    <dt>E-mail</dt>
                    <dd><a href="mailto:higo-yamato@poppy.ocn.ne.jp">higo-yamato@poppy.ocn.ne.jp</a></dd>
                  </dl>
                  <dl>
                    <dt>理 念</dt>
                    <dd>私たちは熊本県山都町の有機農業を通して、お客様の心や身体が喜ぶ農産物を提供するとともに、地域社会、環境にやさしい農業の発展に貢献します。</dd>
                  </dl>
                  <dl>
                    <dt>想 い</dt>
                    <dd>農業者の高齢化に伴い、中山間地の農業は年々疲弊し、土地が荒れていく現状を打破するため、若い生産者を一人でも多く育てていく思いの中で、会社を結成しました。<br>
                      安全・安心なお野菜をお客様に食べていただき、身体も心も元気になっていただきたい。また、たくさんの方に食べていただくことによって、この地域や環境が守られ、持続可能な農業ができることへの感謝を伝えたい。<br>
                      それぞれの生産者がミッションとパッションを抱き、少しでも社会が良くなるよう有機農業（オーガニック）を実践し拡げていきます。</dd>
                  </dl>
                </div>
              </div>
              <div class="overview-block__column">
                <div class="__figure __pc"><img src="https://cdn.shopify.com/s/files/1/0554/3385/5133/files/commitment_05_01_2x_0a921c6e-417a-402a-8630-6810cababea0.jpg?v=1617063096" alt=""></div>
              </div>
            </div>
          </div><!-- /.overview-block -->

          <div class="overview-block __reverse">
            <div class="overview-block__content">
              <div class="overview-block__column">
                <div class="__figure __sp"><img src="https://cdn.shopify.com/s/files/1/0554/3385/5133/files/commitment_04_03_2x_018c3a25-0ad4-4960-a496-cd29bfed2b26.jpg?v=1617330606" alt=""></div>
                <p>「山の都のやおやさん」は、熊本県山都町の安心安全でおいしい農産物をたくさんの方にお届けするため、山都町農産物ブランド化推進協議会（山都町役場　農林振興課）が立ち上げ、株式会社肥後やまとが運営しています。</p>
                <div class="overview-info">
                  <dl>
                    <dt>名 称</dt>
                    <dd>山都町農産物ブランド化推進協議会</dd>
                  </dl>
                  <dl>
                    <dt>事務局</dt>
                    <dd>山都町役場　農林振興課</dd>
                  </dl>
                  <dl>
                    <dt>所在地</dt>
                    <dd>〒861-3592　熊本県上益城郡山都町浜町6番地</dd>
                  </dl>
                  <dl>
                    <dt>電 話</dt>
                    <dd><a href="tel:0967721136">0967-72-1136</a></dd>
                  </dl>
                  <dl>
                    <dt>FAX</dt>
                    <dd>0967-72-1080</dd>
                  </dl>
                </div>
              </div>
              <div class="overview-block__column">
                <div class="__figure __pc"><img src="https://cdn.shopify.com/s/files/1/0554/3385/5133/files/commitment_04_03_2x_018c3a25-0ad4-4960-a496-cd29bfed2b26.jpg?v=1617330606" alt=""></div>
              </div>
            </div>
          </div><!-- /.overview-block -->
        </div>
        {% comment %} {{ page.content }} {% endcomment %}
      </div>
    </div>
  </div>
</div>
