<div class="page-width">
  {% include 'topic-path' %}
</div>

<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
      </div>

      <div class="rte">
<link rel="stylesheet" href="{{ 'yamato-lp.css' | asset_url }}" type="text/css">

 <section class="mypage">
        <h3>マイページのご登録方法</h3>
        <div class="mypage_image">
            <img src="{{ 'mypage_001.png' | asset_url }}" alt="">
            <p>①当店トップページを開いていただきます。</p>
        </div>
        <div class="mypage_image">
            <img src="{{ 'mypage_002.png' | asset_url }}">
            <p>②ここをクリックしてログインメニューを表示します。</p>
        </div>
        <div class="mypage_image">
            <img src="{{ 'mypage_003.png' | asset_url }}">
            <p>③「ログイン」部分を押します。</p>
        </div>
        <div class="mypage_image">
            <img src="{{ 'mypage_004.png' | asset_url }}">
            <p>④「アカウントを作成する」を押します。</p>
        </div>
        <div class="mypage_image">
            <img src="{{ 'mypage_005.png' | asset_url }}">
            <p>⑤氏名、メールアドレス、パスワードを入力いただき完了となります。</p>
        </div>
    </section>
      </div>
    </div>
  </div>
</div>
